body {
    margin: 0;
    font-family: Arial, sans-serif;
     background: linear-gradient(to right, #393958, #111);
    color: white;
}


.commitment {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    gap: 60px;
}


.left {
    width: 45%;
}

.left h1 {
    font-size: 48px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.left p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}


.right {
    width: 55%;
}

.award-row {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 30px 0;
}


.number {
    color: #ff7a00;
    font-weight: bold;
    font-size: 18px;
    width: 40px;
}


.icon {
    width: 100px;
    display: flex;
    justify-content: center;
}

.icon img {
    max-width: 80px;
    height: auto;
}

.content h3 {
    margin: 0 0 10px 0;
    font-size: 22px;
}

.content p {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #555;
}

hr {
    border: none;
    height: 1px;
    background: #ccc;
}